#Taking user input in python

In [4]:
p = input("Enter a number")
print(p)

Enter a number 7

7

In [6]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))        #conver string to integer.
print(a + b)

Enter first number 4
Enter second number 3

7

In [ ]:
name = input("Enter your name")
age = input("Enter your age ")
print(f"Hello {name}, your are {age}year old")

#Comments

In [13]:
#Solo Leveling, also alternatively translated as Only 
#I Level Up (Korean: 나 혼자만 레벨업; RR: Na honjaman rebereop) 
#is a South Korean fantasy                                                    #single line comments.
#web novel written by Chugong.

In [ ]:
"""
Solo Leveling, also alternatively translated as Only 
I Level Up (Korean: 나 혼자만 레벨업; RR: Na honjaman rebereop)                   #multiple line comments.
is a South Korean fantasy
web novel written by Chugong.
"""

#Escape sequences

In [18]:
print("Hello world \nHello panchu")           #Using \n to next line.

Hello world
Hello panchu

In [19]:
print("Hello world \tHello panchu")          #Using \t to new tab.

Hello world 	Hello panchu

In [20]:
print("Hello \\ world")                   #Using \\ to backeslash.

Hello \ world

In [21]:
print("Hello \" world")                   #Using \" to double quote.

Hello " world

In [22]:
print("Hello \' world")                    #Using \' to single quote.

Hello ' world

#Print statement

In [27]:
print("Hello world",'Hello Panchu',7,sep =",")
print("Hello world",'Hello Panchu',7,sep ="/")

Hello world,Hello Panchu,7
Hello world/Hello Panchu/7

In [28]:
print("Hello world",'Hello Panchu',7,end =",")
print("Hello world")

Hello world Hello Panchu 7,Hello world